In [1]:
from os.path import join, exists
import numpy as np
import pandas as pd
import nilearn
import pickle

In [2]:
root_dir = join('/Volumes/T7/re')

In [3]:
df = pd.read_csv(join(root_dir,'stimulus_HR01_0.csv'))

In [4]:
df = df[df['Step']>-1]

In [5]:
df = df[df['Event_Type']=='seq texts']

In [6]:
df

    Step Event_Type                   Stimulus  display_seconds  start_seconds
2      0  seq texts  ['1', '4', '2', '3', '1']              6.0       0.008581
4      2  seq texts  ['4', '1', '3', '2', '4']              6.0      30.073937
6      4  seq texts  ['4', '1', '3', '2', '4']              6.0      60.123661
8      6  seq texts  ['1', '4', '2', '3', '1']              6.0      90.171645
10     8  seq texts  ['4', '1', '3', '2', '4']              6.0     120.219530
12    10  seq texts  ['1', '4', '2', '3', '1']              6.0     150.289291
14    12  seq texts  ['1', '4', '2', '3', '1']              6.0     180.336094
16    14  seq texts  ['4', '1', '3', '2', '4']              6.0     210.386823
18    16  seq texts  ['1', '4', '2', '3', '1']              6.0     240.430322
20    18  seq texts  ['4', '1', '3', '2', '4']              6.0     270.498605
22    20  seq texts  ['1', '4', '2', '3', '1']              6.0     300.549486
24    22  seq texts  ['4', '1', '3', '2', '4']              6.0     330.596503
26    24  seq texts  ['4', '1', '3', '2', '4']              6.0     360.645240
28    26  seq texts  ['1', '4', '2', '3', '1']              6.0     390.696758
30    28  seq texts  ['4', '1', '3', '2', '4']              6.0     420.758879
32    30  seq texts  ['1', '4', '2', '3', '1']              6.0     450.809151
34    32  seq texts  ['4', '1', '3', '2', '4']              6.0     480.856962
36    34  seq texts  ['1', '4', '2', '3', '1']              6.0     510.926484
38    36  seq texts  ['1', '4', '2', '3', '1']              6.0     540.991258
40    38  seq texts  ['4', '1', '3', '2', '4']              6.0     571.056025
42    40  seq texts  ['4', '1', '3', '2', '4']              6.0     601.121322
44    42  seq texts  ['1', '4', '2', '3', '1']              6.0     631.169683
46    44  seq texts  ['1', '4', '2', '3', '1']              6.0     661.219428
48    46  seq texts  ['4', '1', '3', '2', '4']              6.0     691.266560

In [7]:
dur = 6
temp = ['%.3f:%.3f'%(onset,dur) for onset in df['start_seconds']]

with open(join(root_dir,"regressor.r01.IM.txt"),"w") as fw:
    for element in temp:
        fw.write(element + ' ')